[Unit]
Description=WoloChain mainnet node
After=network-online.target
Wants=network-online.target

[Service]
User=wolo
Group=wolo
EnvironmentFile=/etc/wolochaind-mainnet.env
WorkingDirectory=/var/www/WoloChain-mainnet
ExecStart=/var/www/WoloChain-mainnet/build/wolochaind start --home ${WOLO_HOME} --minimum-gas-prices ${MIN_GAS_PRICES}
Restart=always
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

